/*!
 * Each semantic variable maps to a primitive variable
 * Semantic variables should follow a naming structure of genral-to-specific
 * 1 - Design system name, 2 - the property of the variable, 3 - what the variable applies to (bg, fg, text), 4 - lastly, modifiers
 * Example: --designsystemname-color-text-primary
 * Example: --color-border-primary
 *
 */

:root {
  /****************** BASE ******************/
  /*** Base Foreground ***/
  --color-fg-base: var(--color-black);
  --color-fg-subdued: var(--color-gray-005);
  
  /*** Base Background ***/
  --color-bg-base: var(--color-white);
  
  /*** Background - Neutral ***/
  --color-bg-neutral-dark: var(--color-gray-070);
  --color-bg-neutral: var(--color-gray-085);
  --color-bg-neutral-light: var(--color-gray-095);
  --color-bg-neutral-extra-light: var(--color-gray-097);
  
  /*** Borders - Base Theme - Neutral ***/
  --color-border-neutral-dark: var(--color-gray-060);
  --color-border-neutral: var(--color-gray-080);
  --color-border-neutral-light: var(--color-gray-090);
  --color-border-neutral-extra-light: var(--color-gray-095);
  
  /****************** SYSTEM ******************/
  /*** Focus Indicator ***/
  --color-focus-indicator: var(--color-yellow-060);
  
  /*** System accent color ***/
  --color-accent: var(--color-blue-020);
  
  /*** Actions - Link Text ***/
  --color-link-default: var(--color-blue-030);
  --color-link-hover: var(--color-blue-050);
  --color-link-focus: var(--color-blue-050);
  --color-link-active: var(--color-blue-020);
  --color-link-visited: var(--color-fg-base);
  --color-link-decoration: var(--color-cyan-060);
  --color-link-decoration-hover: var(--color-blue-050);
  --color-link-disabled: var(--color-gray-070);
  
  /********* SYSTEM ALERTS *********/
  /*** Negative ***/
  --color-fg-negative: var(--color-red-090);
  --color-border-negative: var(--color-red-070);
  --color-bg-negative: var(--color-red-090);
  
  /*** Warning ***/
  --color-fg-warning: var(--color-yellow-090);
  --color-border-warning: var(--color-yellow-070);
  --color-bg-warning: var(--color-yellow-090);
  
  /*** Positive ***/
  --color-fg-positive: var(--color-green-090);
  --color-border-positive: var(--color-green-070);
  --color-bg-positive: var(--color-green-090);
  
  /*** Informative ***/
  --color-fg-informative: var(--color-blue-090);
  --color-border-informative: var(--color-blue-070);
  --color-bg-informative: var(--color-blue-090);
  
  /****************** PRIMARY BRAND ******************/
  /*** Foreground ***/
  --color-fg-primary: var(--color-blue-020);
  --color-fg-primary-medium: var(--color-blue-040);
  
  /*** Background ***/
  --color-bg-primary-00: var(--color-blue-010);
  /* dark */
  --color-bg-primary-01: var(--color-blue-020);
  --color-bg-primary-02: var(--color-blue-040);
  /* medium */
  --color-bg-primary-03: var(--color-blue-080);
  --color-bg-primary-04: var(--color-blue-095);
  /* light */
  
  /*** Border ***/
  --color-border-primary: var(--color-blue-020);
  --color-border-primary-02: var(--color-blue-060);
  
  /*** STATIC does not change with dark mode or other themes ***/
  /*** Foreground / Text - Static ***/
  --color-fg-white-static: var(--color-white);
  --color-fg-black-static: var(--color-black);
  
  /*** Background - Static ***/
  --color-bg-white-static: var(--color-white);
  --color-bg-black-static: var(--color-black);
  
  /********* FOREGROUND SWAPS ON DARK BACKGROUNDS *********/
  .inverted-bg {
    /*** Foreground / Text - Base Theme ***/
    --color-fg-base: var(--color-white);
    --color-fg-subdued: var(--color-gray-095);
    
    --color-fg-primary: var(--color-blue-080);
    --color-fg-secondary: var(--color-cyan-080);
    
    --color-border-primary: var(--color-blue-060);
    --color-border-primary-light: var(--color-blue-080);
    
    /*** Borders - Base Theme - Neutral ***/
    --color-border-neutral: var(--color-gray-080);
    --color-border-neutral-light: var(--color-gray-095);
    
    /*** Actions - Link Text ***/
    --color-link-default: var(--color-cyan-080);
    --color-link-hover: var(--color-cyan-060);
    --color-link-focus: var(--color-cyan-060);
    --color-link-active: var(--color-cyan-080);
    --color-link-visited: var(--color-fg-base);
  }
}