/*** *** BASE RESETS *** ***/
html {
  scroll-behavior: smooth;
  accent-color: var(--color-accent-secondary-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* overflow */
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  
  /* fix typography rough edges */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* font display */
  font-optical-sizing: auto;
  font-style: normal;
  font-family: var(--font-primary);
  
  /* color base */
  color: var(--color-fg-base);
  background-color: var(--color-bg-base);
  
  /* ensure footer does not cover main content */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@viewport {
  width: device-width;
}

*,
div {
  margin: 0;
  box-sizing: border-box;
}


pre {
  display: block;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}


/*** Typography resets ***/
a {
  color: var(--color-accent);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-fg-base);
  font-family: var(--font-serif);
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--size-charlimit-lg);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

h1 a:not(.button),
.h1 a:not(.button),
h2 a:not(.button),
.h2 a:not(.button),
h3 a:not(.button),
.h3 a:not(.button),
h4 a:not(.button),
.h4 a:not(.button),
h5 a:not(.button),
.h5 a:not(.button),
h6 a:not(.button),
.h6 a:not(.button) {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

h1,
.h1 {
  font-size: 3.6rem;
  line-height: 1;
}

h2,
.h2 {
  font-size: 2.8rem;
  line-height: 1.11;
  margin-block-start: 1.5rem;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.1;
  margin-block-start: 1rem;
}

h4,
.h4 {
  font-size: 1.7rem;
  line-height: 1.1;
  margin-block-start: 1rem;
}

h5,
.h5 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-block-start: 0.5rem;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.3;
  margin-block-start: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-block-end: 1rem;
  line-height: 1.5;
  color: var(--color-fg-base);
  max-inline-size: 75ch;
}

ul,
ol {
  margin-block: 1rem;
}

li {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-block-end: 1rem;
  line-height: 1.5;
  color: var(--color-fg-base);
}

/************* ACCESSIBILITY *************/
.sr-only,
#page-navigation {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}


/************* TEMP DRUPAL DISPLAY *************/
nav ul,
.contextual-region ul:not(.contextual-links) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-block: 0.5rem;
  
  li {
    margin: 0;
    padding: 0;
  }
}