.branding {
  background-color: var(--color-bg-primary-03);
  padding: 2rem 1.5rem;
}
  
  .branding__content {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  
  .branding__logo {
    inline-size: 70px;
  }
  
  .branding__sitename {
    font-family: var(--font-serif);
    color: var(--color-fg-primary);
    font-size: calc(var(--size-text-lrg) * 2);
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-inline-start: 2px solid var(--color-fg-base);
    padding-inline-start: 1.25rem;
  }
  
  .branding__sitename a,
    .branding__sitename a:hover,
    .branding__sitename a:focus,
    .branding__sitename a:visited,
    .branding__sitename a:active {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      display: inline-flex;
    }
  
  .branding__siteslogan {
    font-size: var(--size-text-lrg);
    color: var(--color-fg-base);
    font-weight: 400;
  }